@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --color-one: #8261EE;
  --color-two: #FF589E;
  --color-three: #A759D1;

  --color-text-one: #1E1E1E;
  --color-text-two: #777777;

  --bg: #F2F2FE;

  --font: 'Raleway', sans-serif;

}

*::selection {
  color: #fff;
  background-color: var(--color-two);
}

html {
  /* overflow-x: hidden; */
}

body {
  font-family: var(--font);
  color: var(--color-text-one);
  /* overflow-x: hidden; */
}

a {
  text-decoration: none !important;
}
